<h2>This is the root page for the app with assets!</h2>

<p>How u doin. Check out these images in 3 different formats.</p>

<img src="/assets/my-gif.gif" alt="My GIF">
<img src="/assets/my-jpg.jpg" alt="My JPEG">
<img src="/assets/my-png.png" alt="My PNG">
