<!DOCTYPE html>
<html>
  <head>
    <title><%= name.capitalize %></title>
  </head>

  <body>
    <h1>Welcome to <%= name.capitalize %>!</h1>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <%%= yield %>
  </body>
</html>
