<img src="/assets/images/socool.jpg" alt="can't leave rap alone the game needs me">

<h2>This is your root view!</h2>

<p>It's accessible by making a request to <%= name.capitalize %>'s root path from your browser.</p>

<%%= render "partial" %>

<h3>Proof that CoffeeScript works:</h3>

<p>The current time is: <span class="js-current-time">unknown</span>. <a href="#" class="js-update-current-time">Update</a></p>
